<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    From:  <%= @params[:name] %> <br>
    Email:  <%= @params[:email] %> <br>
    Message: <%= @params[:message] %> <br>
  </body>
</html>